/* src/components/Ticket.css */

.ticket-container {
    padding: 16px;
    background-color: #e0f7fa; /* Light blue background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-right: 750px;
}

.ticket-header {
    background-color: #007bff; /* Blue background for the header */
    color: #fff;
    padding: 6px;
    border-radius: 8px 8px 0 0; /* Rounded top corners */
    text-align: center;
}

.ticket-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.ticket-card h2 {
    margin-top: 0;
}

.ticket-card p {
    margin: 8px 0;
}

.ticket-card a {
    color: #007bff;
    text-decoration: none;
}

.ticket-card a:hover {
    text-decoration: underline;
}
