.app {
  text-align: center;
  font-family: Arial, sans-serif;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.089);
  box-shadow: 0 4px 8px rgba(233, 231, 231, 0.815);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-right: 820px;
}

.app-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  
  .date-picker-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 17%;
  }
  
  .calendar-icon {
    font-size: 1.5rem;
    color: white;
    margin-right: 10px;
  }
  
  .date-picker {
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 120px;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .date-picker:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
  }
  
  .clock-in-out {
    margin-top: 40px;
    color: white;
  }
  
  .clock-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .clock-btn:hover {
    transform: scale(1.1);
  }
  
  .clock-btn:active {
    animation: vibration 0.3s linear;
  }
  
  .clock-btn.clocked-in {
    background-color: #dc3545;
  }
  
  .status {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding: 20px;
  }
  
  .status-box {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 40%;
    margin: 0 10px;
  }
  
  .status-box span {
    display: block;
  }
  
  .view-details-btn,
  .back-btn {
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    width: 200px;
  }
  
  .view-details-btn:hover {
    background-color: #138496;
    transform: scale(1.1);
  }
  
  .back-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px; /* Ensures spacing between buttons */
  }
  
  .back-btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  .history {
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
  }
  
  .employee-details {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
  }
  
  .history-list {
    max-height: 180px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .history p {
    margin: 5px 0;
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .download-btn {
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px;
    width: fit-content;
  }
  
  .download-btn:hover {
    background-color: #138496;
    transform: scale(1.1);
  }